<div class="bgimg">
  <div class="topleft">
    <p>Stephen Katz</p>
  </div>
  <div class="middle">
    <h1>ENTER PASSWORD</h1>
    <hr>
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    <br>
    <div class="example-container">
      <mat-form-field>
        <input matInput [formControl]="password" [type]="hide ? 'password' : 'text'">
      </mat-form-field>
      <button mat-raised-button color="primary" (click)="onSubmit()"> Submit </button>
    </div>
  </div>
  <div class="bottomleft">
    <p>v 1.0.2</p>
  </div>
</div>