<mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Stephen Katz</mat-card-title>
      <mat-card-subtitle>Computer Engineering</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image style="height: 20%" src="assets\websitePhoto.PNG" alt="Profile Picture">
    <mat-card-content>
        <mat-list role="list">
            <h3 mat-subheader>Info</h3>
            <mat-list-item role="listitem">I am a computer engineering major at New Jersey Institute of Technology.</mat-list-item>
            <mat-list-item role="listitem"></mat-list-item>
            <mat-list-item role="listitem">I am currently in my junior year taking courses relating to electronic circuits, signals, computer science fundementals, and operating systems.</mat-list-item>
            <mat-list-item role="listitem"></mat-list-item>
            <mat-list-item role="listitem">On campus I am the project manager of the NJIT Solar Car team where we are challenged to make a solar vehicle and compete in the Formula Sun Grand Prix.</mat-list-item>
            <mat-list-item role="listitem"></mat-list-item>
            <mat-list-item role="listitem">Outside of campus I enjoy working on software challenges and building wesites using popular JavaScript frameworks such as Angular and React.</mat-list-item>
            <mat-list-item role="listitem"></mat-list-item>
            <mat-list-item role="listitem">I am currently serving a term as a web developer Co-Op at UPS where I am tasked to build business applications that automate work processes such as application sizing and budgetting.</mat-list-item>
            <mat-list-item role="listitem"></mat-list-item>
            <mat-list-item role="listitem">My contact information is stephenjk41@gmail.com (732)-425-9735.</mat-list-item>
        </mat-list>
    </mat-card-content>
  </mat-card>